.about-container {
  display: flex;
}

.about_txt {
  width: 60vw;
  height: auto;
}

.about_txt h3 {
  color: var(--vinoOsc);
  font-size: 2.5rem;
  font-weight: 500;
}

.about_txt p {
  text-align: justify;
}

.about_giro {
  width: 40vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gallery {
  position: relative;
  width: 300px; /* Tamaño del contenedor del semicírculo */
  height: 150px; /* Altura para crear el semicírculo */
}

.gallery img {
  position: absolute;
  width: 100px; /* Tamaño de las imágenes */
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--vinoOsc);
  animation: semicircle 8s infinite ease-in-out;
}

.gallery img:nth-child(1) {
  animation-delay: 0s;
}

.gallery img:nth-child(2) {
  animation-delay: 2s;
}

.gallery img:nth-child(3) {
  animation-delay: 4s;
}

.gallery img:nth-child(4) {
  animation-delay: 6s;
}

@keyframes semicircle {
  0% {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    opacity: 0;
  }
  25% {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  75% {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0) scale(0);
    opacity: 0;
  }
}
