/* Dashboard Container */
.dashboard-wrapper {
  display: flex;
  height: 100vh;
  padding: 20px;
}

.dashboard-container {
  flex: 1;
  background: rgba(255, 255, 255, 0.1); /* Efecto Glass */
  backdrop-filter: blur(10px);
  border-radius: 30px;
  margin-left: 20px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

.content h1 {
  font-size: 3rem;
  color: #ffffff;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 60px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #8b1b3e;
  background: #8b1b3e;
  transition: width 0.5s;
  overflow-x: hidden;
}

.sidebar.active {
  width: 300px;
}

.sidebar .toggle {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .toggle.active {
  background: #4300ca;
}

.sidebar .toggle i {
  font-size: 1.5em;
  font-weight: 900;
  color: #8b1b3e !important;
  display: none;
  position: absolute;
}

.sidebar .toggle i.open,
.sidebar .toggle.active i.close {
  display: block;
}

.sidebar .toggle.active i.open,
.sidebar .toggle i.close {
  display: none;
}

.sidebar .list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.sidebar .list .list-item {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.sidebar .list .list-item.active {
  background: #ffffff;
}

.sidebar .list .list-item:hover {
  background: #fafafa69;
}

.sidebar .list .list-item b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.sidebar .list .list-item b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #8b1b3e;
}

.sidebar .list .list-item b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: #fff;
  display: none;
}

.sidebar .list .list-item b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #8b1b3e;
}

.sidebar .list .list-item.active b:nth-child(1),
.sidebar .list .list-item.active b:nth-child(2) {
  display: block;
}

.sidebar .list .list-item.active .list-item-link {
  color: #000;
}

.sidebar .list .list-item .list-item-link {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #ffffff;
}

.sidebar .list .list-item .list-item-link .icon {
  position: relative;
  display: block;
  min-width: 60px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.icon img {
  width: 20px;
  height: 20px;
}

.sidebar .list .list-item .list-item-link .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
