/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff; /* Fondo blanco */
}

.dashboard-container {
  display: flex;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1); /* Efecto Glass */
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  background-color: #8b1b3e; /* Color más cercano al de la imagen */
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  position: relative;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin-bottom: 20px;
}

.nav-menu {
  width: 100%;
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 30px 0 0 30px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.nav-menu li.active {
  background-color: #ffffff;
  color: #8b1b3e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px 0 0 30px;
}

.nav-menu li.active img.icon {
  filter: invert(27%) sepia(91%) saturate(4179%) hue-rotate(320deg) brightness(91%) contrast(103%);
}

.nav-menu li:hover:not(.active) {
  background-color: #bf4454;
}

.nav-menu li img.icon {
  margin-right: 15px;
}

.logout {
  margin-top: auto;
  background-color: #bf4454;
}

.logout:hover {
  background-color: #d65564;
}

/* Main content styles */
.main-content {
  flex: 1;
  background: rgba(255, 255, 255, 0.7); /* Fondo con efecto Glass */
  backdrop-filter: blur(20px);
  border-radius: 30px;
  padding: 20px;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

.content h1 {
  font-size: 3rem;
  color: #ffffff;
}
