.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(160, 33, 66);
  background: radial-gradient(circle, rgba(160, 33, 66, 1) 18%, rgba(105, 27, 50, 1) 85%);
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura completa de la ventana */
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
  position: relative; /* Necesario para la superposición */
  flex-grow: 1; /* Permite que esta sección crezca para llenar el espacio disponible */
}

.profile-details {
  max-width: 50%;
}

.profile-details h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: var(--doradoClr);
}

.profile-details h4 {
  font-size: 1.5rem;
  color: var(--blanco);
  margin-bottom: 20px;
  font-weight: 400;
}

.profile-details p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--blanco);
  text-align: justify;
  line-height: 1.5;
}

.profile-image {
  max-width: 40%;
  height: 100%; /* Ocupa todo el alto disponible */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea la imagen hacia la derecha */
}

.profile-image img {
  width: auto;
  height: 100%;
  object-fit: cover; /* Ajuste para asegurar que la imagen se vea bien */
  border-radius: 10px;
}

.team-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  bottom: 0;
  z-index: 1;
}

.team-member {
  text-align: center;
}

.team-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

.team-image.active {
  transform: scale(1.2);
}

.position {
  font-size: 0.8rem;
  color: gray;
}
