/* Team.css */

.team-container {
  padding: 20px;
  margin-top: 65px;
}

/* Header Section with Title and First Two Cards */
.team-header {
  display: flex;
  justify-content: flex-start;  /* Alinear a la izquierda */
  align-items: center;
  margin-bottom: 40px;
}

.team-title {
  flex: 1;
  font-size: 2rem;
  font-weight: 600;
  color: var(--vinoOsc); /* Ajusta esto a tu color principal */
  text-align: left;  /* Alinear el título a la izquierda */
  margin-right: 40px;
}

.team-header-cards {
  display: flex;
  gap: 20px;
}

.team-header-cards .horizontal-card {
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 20px;
  width: 400px;  /* Asegura que estos card tengan un ancho de 400px */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
}

.team-header-cards .horizontal-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-header-cards .horizontal-card .team-card-image {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.team-header-cards .horizontal-card .team-card-info {
  margin-top: 0;
  text-align: left;
}

.team-header-cards .horizontal-card .team-card-info h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.team-header-cards .horizontal-card .team-card-info p {
  font-size: 0.9rem;
  color: #777;
}

/* Rest of the Cards in Body Section */
.team-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.team-body .team-card {
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 20px;
  width: 200px;  /* Ancho estándar para las tarjetas restantes */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-body .team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-card-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.team-card-image img {
  width: 100%;
  height: auto;
}

.team-card-info {
  margin-top: 20px;
}

.team-card-info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-card-info p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
}
