.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 50px;
  transition: background-image 0.8s ease-in-out;
}

.content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  max-width: 300px;
}

.content .name {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: fadeInUp 1.2s ease-in-out forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInUp 1.4s ease-in-out forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 0;
  animation: fadeInUp 1.6s ease-in-out forwards;
}

.previewContainer {
  display: flex;
  position: absolute;
  right: 50px;
  bottom: 50px;
  gap: 20px;
}

.previewItem {
  width: 150px;
  height: 250px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.previewItem:hover {
  transform: scale(1.1);
}

.slideAnimation {
  animation: slideIn 0.8s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.prevButton,
.nextButton {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  border: 1px solid #000;
  transition: 0.3s;
}

.prevButton:hover,
.nextButton:hover {
  background: #ababab;
  color: #fff;
}

/* Animación de texto */
.textAnimation {
  opacity: 0;
  animation: fadeInUp 1.2s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px); /* Mayor desplazamiento para hacer la animación más notoria */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delay en los diferentes elementos */
.textAnimation.delay-1 {
  animation-delay: 0.2s;
}

.textAnimation.delay-2 {
  animation-delay: 0.4s;
}

.textAnimation.delay-3 {
  animation-delay: 0.6s;
}

.textAnimation.delay-4 {
  animation-delay: 0.8s;
}

.textAnimation.delay-5 {
  animation-delay: 1s;
}
